<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/capa.css}"
          href="../../css/capa.css"/>
</head>
<body>
<div layout:fragment="conteudo" th:align="center">
    <div class="container">
        <h2>Data Calculadora - 8x5</h2>
         <form action="#" th:action="@{/}" th:object="${dataCalc}" method="post">
            <p>Data: <input type="text" id="input-date" th:field="*{dataEntrada}"/></p>
            <p>+ Segundos: <input type="text" class="tempo" id="tempo" name="tempo" th:field="*{tempoAdd}" /></p>
            <p><input type="submit" value="Calcular" /></p>
        </form>
        <h1>Resultado:</h1>
        <p th:text="'Data: ' + ${dataSLA}" />
    </div>

    <script>
        $(document).ready(function(){
            $("#sumir").click(function(){
                $(this).hide();
            });
        });
        $(document).ready(function(){
          $("#input-date").inputmask("99/99/9999 99:99:99");
        });
    </script>
</div>
</body>

</html>