<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/capa.css}"
          href="../../css/capa.css"/>
</head>
<body>

<div layout:fragment="conteudo" th:align="center">
    <div class="container">
        <h2>Data Calculadora</h2>
         <form action="#" th:action="@{/calcular}" th:object="${dataCalc}" method="post">
            <p>Data: <input type="date" th:field="*{dataEntrada}" /></p>
            <p>Tempo: <input type="text" th:field="*{tempoAdd}" /></p>
            <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
        </form>
        <h1>Resultado:</h1>
        <p th:text="'Data: ' + ${dataCalc.dataEntrada}" />
        <p th:text="'Tempo: ' + ${dataCalc.tempoAdd}" />
    </div>

    <script type="text/javascript">
    </script>
</div>


<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>